Package               Version
--------------------- -----------
aiohttp               3.7.4.post0
APScheduler           3.6.3
async-timeout         3.0.1
attrs                 21.4.0
cachetools            4.2.2
certifi               2021.10.8
chardet               4.0.0
charset-normalizer    2.0.12
discord.py            1.7.3
docopt                0.6.2
idna                  3.3
multidict             6.0.2
pip                   22.0.4
pipreqs               0.4.11
python-telegram-bot   13.11
pytz                  2022.1
pytz-deprecation-shim 0.1.0.post0
requests              2.27.1
setuptools            58.1.0
six                   1.16.0
telegram              0.0.1
tornado               6.1
typing_extensions     4.1.1
tzdata                2022.1
tzlocal               4.1
urllib3               1.26.9
vk                    2.0.2
vk-api                11.9.7
yarg                  0.1.9
yarl                  1.7.2
